.hero {
    background-color: white;
    background-image: url(https://i.imgur.com/qXls2UW.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position-x: center;
    background-position-y: bottom;
    height: 620px;
    margin-bottom: 100px;
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
    .hero-content {
        width: 40%;
        padding-top: 80px;

        .hero-text {
            h1 {
                color: #676767;
                font-size: 48px;
                font-weight: 900;
            }

            p {
                color: #676767;
                font-size: 18px;
            }
        }

        .hero-filter__container {
            padding-top: 120px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}