.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px; }

.custom-filter-dropdown button {
  margin-right: 8px; }

.highlight {
  color: #f50; }

.ant-modal-content {
  font-family: Raleway; }

.ant-modal-body {
  display: flex; }

.badge {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #4286f4;
  font-weight: bold;
  font-family: monospace; }
