@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 120px;
  margin-top: 60px;
  .spinner--loading{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
}

.filters-container{
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;
  justify-content: center;
}

.cards-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.ant-spin-lg .ant-spin-dot > i {
 background-color: white;
}